<<<<<<< HEAD
<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
=======
<footer>
  <span class="pull-left"><%= link_to 'Rails Tutorials', 'http://google.com' %></span>
  <span class="pull-right">About</span>
  <span class="pull-right">Contact</span>
  <span class="pull-right">News</span>
</footer>
>>>>>>> bb74e9afa97632cd7878916e0885ddd99dcbb419
